{% extends 'base.html.twig' %}

{% block title %}New maison Hote
{% endblock %}

{% block body %}

<center>
	<div class="container">
		{{form_start(form)}}
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					{{form_row(form.Nom)}}
					{{form_row(form.Prix)}}
					{{form_row(form.Adresse)}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{form_row(form.description)}}
					{{form_row(form.type)}}
					{{form_row(form.nombre_chambres)}}
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					{{form_row(form.images)}}
				</div>
			</div>
		</div>
		{{form_end(form)}}

	</div>

</center>
{% endblock %}
